@import "modules/all";  //Getting all modules
@import "partials/all";  //Getting all partials

/* Variables */

$block-height: 50%;

$colors: (
  light-background: $_colour4,
  dark-background: $_colour3,
  light-font: $_colour2,
  dark-font:  $_colour1
);

$font-big-weight: bold;

/* Function to calculate blocks size given a width value */
@function set-block-size($w) {
  @return ($block-height/2)+($w);
}

/* Placeholder for block elements */
%block {
  height: $block-height;
  float: left;
}

/* Mixin for big font properties */
@mixin font-big($font-big-weight: normal) {
  font: {
    family: $_font1;
    size: $_font-extra-big;
    weight: $font-big-weight;
  }
  @content;
}

/* Mixin to apply a gradient */
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; 
  background-image: -webkit-gradient(linear, left top, right top, from($fromColor), to($toColor)); 
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); 
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); 
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); 
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); 
  background-image:         linear-gradient(left, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/* Style for the upper left block */
.upper-left-block {
  @extend %block;   //Extending from %block style
  @include font-big{ font-weight: $font-big-weight; };    //Including font-big style
    
  width: set-block-size(40%);   //Calling function
  background: map-get($colors, light-background);
    
  @media screen and (orientation: portrait) {   //Only applied if screen is in vertical mode
    color: map-get($colors, light-font);
    background-color: map-get($colors, dark-background);
  }
}

/* Style for the upper right block */
.upper-right-block {
  @extend %block;   //Extending from %block style
  @include font-big;  //Including font-big style
  @include linear-gradient(map-get($colors, light-background), map-get($colors, dark-background));
       
  width: set-block-size(10%);   //Calling function
    
  @media screen and (orientation: portrait) {   //Only applied if screen is in vertical mode
    color: map-get($colors, dark-font);
    background-color: map-get($colors, light-background);
  }   
}

/* Style for the lower left block */
.lower-left-block {
  @extend .upper-right-block;    //Extending from upper right block style
  @include linear-gradient(map-get($colors, dark-background), map-get($colors, light-background));
}

/* Style for text inside the lower left block */
.lower-left-block-text {
  @extend .lower-left-block;   //Extending from lower left block style   
  width: 100%;   
}

/* Style for lower right block */
.lower-right-block {
  @extend %block;   //Extending from %block style
  @include font-big{ font-weight: $font-big-weight; };    //Including font-big style
    
  width: set-block-size(40%);   //Calling function
  background: map-get($colors, light-background);
   
  @media screen and (orientation: portrait) {   //Only applied if screen is in vertical mode
    color: map-get($colors, light-font);
    background-color: map-get($colors, dark-background);
   }
}
