@import "partials/all";  //Getting all partials

/* These are variables to use 
   globally in our classes. */

//Containers height  
$welcome-container-height: 70%*0.5;
$farewell-container-height: 50%-15%;

//Font values
$font-list : Helvetica, Arial, sans-serif; 
$text-size: 32px; 

//Colors and shapes
$border-color: black;
$container-border: 2px solid $border-color;
$light-text-color: white;

//Other values
$half-percentage: 50%;
$container-name: welcome;

.start-container {
    $container-margin: 0px auto !global;    //Global variable
    
    margin: $container-margin;
    top: $half-percentage;
    position: relative;
    transform: translateY(-$half-percentage);
}

.#{$container-name}-container {
    $container-width: 80% !global;    //Global variable
    $container-color-welcome: (#668799 + #001000); 
     
    width: $container-width;
    height: $welcome-container-height;
    margin: $container-margin;
    border: $container-border;
    
    background-color: $container-color-welcome;
}

.#{$container-name}-text {
    font-size: $text-size;
}

.farewell-container { 
    $container-color-farewell: rgb(0, 49, 51);    //Local variable
    
    width: $container-width;    //Variable declarated in .welcome-container
    height: farewell-container-height;
    margin: $container-margin;    //Variable declarated in .welcome-container
    border: $container-border; 
    
    background-color: $container-color-farewell;
}

.farewell-container:before {    //Interpolation
    $version: null; 
    $technology: SASS;
    $text: "Feel free to play #{$technology} version #{$version} and discover.";    //Text variable with null value and interpolation
    
    content: $text;
    font-size: $text-size;
    
    color: $light-text-color;
}

.farewell-container p {
    font-family: $font-list;
    font-size: $text-size;
    
    color: hsl($hue: 0, $saturation: 60%, $lightness: $half-percentage);    //Function
}
